/* Video background */
.video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

/* About component styling */
.about-component {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

/* Heading 2 styling */
.about-component h2 {
	font-size: 70px;
	margin-bottom: 20px;
	margin-top: 30px;
}

/* Heading 3 styling */
.about-component h3 {
	font-size: 60px;
	margin-bottom: 20px;
	margin-top: 30px;
	color: white;
}

/* Content container styling */
.about-component-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	width: 100%;
	padding: 0 20px;
	margin-top: 15px;
}

/* Paragraph styling */
.about-component-content p {
	flex: 1;
	padding-left: 40px;
	font-size: 18px;
}

/* Image container styling */
.about-page-image,
.art-page-image {
	flex: 1;
	display: flex;
	justify-content: center;
	margin: 20px;
	max-width: 100%;
}

/* Image styling */
.about-page-image img,
.art-page-image img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
}

/* Media queries for smaller screens */
@media screen and (max-width: 960px) {
	.about-component h2 {
		font-size: 60px;
	}

	.about-component-content p {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.about-component h2 {
		font-size: 50px;
		margin-top: 20px;
	}

	.about-component-content {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.about-page-image,
	.art-page-image {
		order: 1;
		margin-bottom: 20px;
	}

	.about-component-content p {
		font-size: 15px;
	}
}

@media (max-width: 480px) {
	.about-component h2 {
		font-size: 50px;
	}

	.about-component-content {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}

	.about-page-image,
	.art-page-image {
		order: 1;
		margin-bottom: 20px;
	}

	.about-component-content p {
		font-size: 15px;
	}

	.video {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: -1;
		margin-top: -30px;
	}
}
